<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Cookbook</h1>
    <a href='recipes/new'><button>Add New Recipe</button></a>
  </body>
</html>